html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    height: 100vh;
    position: relative;
}

.sidebar, .tripInfo {
    position: relative;
    background: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    resize: horizontal;
    overflow: auto;
    transition: height 0.3s, width 0.3s;
}

.sidebar {
    width: 350px;
    min-width: 300px;
    max-width: 95%;
    overflow-y: auto;
}

.tripInfo {
    min-width: 300px;
    max-width: 100%;
    overflow-y: auto;
}

.mapContainer {
    flex-grow: 1;
    position: relative;
    transition: height 0.3s, width 0.3s;
}

.shareable-link-button {
    position: absolute !important;
    bottom: 2%;
    right: 1%;
    z-index: 1000;
}

.expand-button {
    position: fixed;
    left: 90%;
    transform: translateX(-50%);
    background-color: #1d3a58;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s, top 0.3s, bottom 0.3s;
    display: none; /* Hide by default */
    border-radius: 10%;
}

.expand-button-top {
    top: 10px;
}

.expand-button-bottom {
    bottom: 10px;
}

.expand-button:hover {
    transform: translateX(-50%) scale(1.1);
}

.App.expanded-tripView .sidebar {
    height: 100%;
    width: 100%;
}

.App.expanded-tripInfo .tripInfo {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .App {
        flex-direction: column;
    }

    .mapContainer {
        width: 100%;
        height: 50%;
    }

    .sidebar,
    .tripInfo {
        width: 100%;
        height: 50%;
        max-width: 100%;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 10px;
    }

    .tripInfo {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 10px;
    }

    .shareable-link-button {
        bottom: 6%;
        right: 2%;
    }

    .expand-button {
        display: block; /* Show only on mobile */
    }

    .expand-button-top {
        top: 10px;
    }

    .expand-button-bottom {
        bottom: 10px;
    }
}

@media (max-width: 480px) {
    .mapContainer {
        height: 40%;
    }

    .sidebar,
    .tripInfo {
        height: 30%;
    }
}
