.tripInfo {
    position: relative;
    width: 300px;
    min-width: 300px;
    max-width: 95%;
    overflow-y: auto;
    background: #f0f0f0;
    padding: 20px;
    resize: horizontal;
    overflow: auto;
    resize: horizontal;
    direction: rtl; /* Ajouté pour permettre le redimensionnement depuis la gauche */
}

.trip-summary-section {
    margin-top: 20px;
}

.trip-summary-section div {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .trip-info {
        padding: 10px;
        font-size: 14px;
        width: 100%
    }
}

@media (max-width: 480px) {
    .trip-info {
        padding: 8px;
        font-size: 12px;
        margin-top: 15px;
    }

    .trip-summary-section div {
        padding: 8px;
    }
}