.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.overlay_after-open {
    transition: opacity 500ms ease-in-out;
    opacity: 1;
}

.overlay_before-close {
    opacity: 0;
}

/* Styles pour le contenu de la modale */
.modalContent {
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    top: 15%;
    left: 35%;
    height: 50%;
    width: 30%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 5px;
    padding: 20px;
    z-index: 1001;
}

.modalcalendar {
    height: 100%;
    width: 100%;
}

.modalContent_after-open {
    transition: all 500ms ease-in-out;
}

.modalContent_before-close {
    transition: all 500ms ease-in-out;
}

@media (max-width: 768px) {
    .modalContent {
        top: 5%;
        left: 10%;
        height: 90%;
        width: 80%;
    }
}

@media (max-width: 480px) {
    .modalContent {
        top: 15%;
        left: 2.5%;
        height: 65%;
        width: 95%;
    }
}
