.popular-destinations {
    margin-top: 20px;
}

.popular-destinations ul {
    list-style-type: none;
    padding: 0;
}

.popular-destinations li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popular-destinations li:hover {
    background-color: #f0f0f0;
}

.destination-details {
    margin-top: 10px;
}

.destination-details button {
    margin-right: 10px;
}