.welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    animation: slideIn 1.5s ease-out forwards;
}

.logo {
    width: 100px;
    height: 100px;
    animation: logoBounce 5s infinite;
    position: relative;
    align-content: center;
    right: 0;
}

.welcome-text {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

.brand-text {
    margin-top: -25px;
    font-size: 24px;
    color: rgb(175, 232, 255);
    text-decoration: underline;
    animation: fadeIn 2s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes logoBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
