.trip-list {
    display: flex;
    flex-direction: column;
}

.trip {
    position: relative;
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: box-shadow 0.3s;
}

.trip:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.trip-label {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0 0 5px 0;
}

.button-tripview {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px; /* Add space between buttons */
}

.edit-button {
    margin-right: 10px;
}

.delete-button {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .trip {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .trip {
        padding: 6px;
        font-size: 12px;
    }
}
