.map {
    height: 100%;
    width: 100%;
}

.numbered-icon .icon-wrapper {
    position: relative;
    display: inline-block;
}

.numbered-icon .icon-img {
    width: 25px;
    height: 41px;
}

.numbered-icon .icon-number {
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: none;
    pointer-events: none;
}